<%- include("partials/header.ejs") %>
<div class="container">
<form action="/submit" method="POST">
<div class="mb-3">
  <label for="author" class="form-label">Full Name:</label>
  <input type="text" class="form-control" name="author" id="exampleFormControlInput1" placeholder="John Smith">
</div>
<div class="mb-3">
  <label for="title" class="form-label">Title:</label>
  <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="My First Post">
</div>
<div class="mb-3">
  <label for="post" class="form-label">Write Your Post Here</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="post" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-light" value="submit">Submit</button>
</form>
</div>
<%- include("partials/footer.ejs") %>
