<form action="/submit" method="POST">
 <label for="author">Full Name: </label>
 <input type="text" name="author">

 <label for="title">Title: </label>
 <input type="text" name="title">

 <label for="post">Post: </label>
 <input type="text" name="post">
<button type="submit">Submit</button>
</form>
